<div class="row">
    <div class="col-md-12">
        <h4>Manage Application Configurations</h4>
        <p class="text-muted"><small>JBI Component Application Configurations are named collections of properties that allow Service Assemblies to configure a target component.  Click Add Configuration to create a new named set of configured properties. Click the name of an application configuration to view or modify its properties.</small></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    Application Configurations &nbsp; <span class="badge badge-info">{{configurations.length}}</span>
                </div>
                <div class="actions">
                    <button class="btn btn-sm btn-default" ng-click="addApplicationConfiguration()" ng-disabled="component.state == 'SHUTDOWN' || !component.supportApplicationConfigurations" tooltip="Create application configuration">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>
            </div>

            <div class="portlet-body">
                <!-- Table -->
                <table class="table table-condensed table-striped table-responsive table-hover" ng-show="configurations.length > 0">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="checkboxes.checked" /></th>
                        <th ng-click="predicate = 'name'; reverse=!reverse">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="configuration in configurations | filter:filter | orderBy:predicate:reverse">
                        <td><input type="checkbox" ng-model="checkboxes.items[configuration]" /></td>
                        <td>
                            <a class="btn dark" ng-click="getApplicationConfiguration(configuration)" tooltip="Edit application configuration">{{configuration}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="clearfix" ng-show="configurations.length > 0">
                    <div class="pull-right">
                        <button class="btn btn-danger btn-sm" ng-click="deleteApplicationConfigurations()" ng-disabled="component.state == 'SHUTDOWN'">Delete</button>
                    </div>
                </div>

                <section ng-show="component.state === 'SHUTDOWN' && component.supportApplicationConfigurations === true">
                    <div class="alert alert-info">
                        <h5><i class="fa fa-ban"></i> Unable to manage application configurations while <strong>{{component.name}}</strong> is in shutdown state !</h5>
                    </div>
                </section>

                <section ng-show="component.supportApplicationConfigurations === false">
                    <div class="alert alert-info">
                        <h5><i class="fa fa-ban"></i> <strong>{{component.name}}</strong> does not support application configurations.</h5>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>