<div class="row">
  <div class="col-md-12">
    <ul class="page-breadcrumb breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
      <li><a href="#/components"><i class="fa fa-cogs"></i> Components</a></li>
      <li class="active">New Component</li>
    </ul>

    <h3 class="page-title">
      Install Component <small>Specify the location of the JBI BC or SE Archive to be uploaded. This can be a package file such .jar or .zip.</small>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form id="fileupload" action="" method="POST" enctype="multipart/form-data" data-ng-controller="ComponentUploadController" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
      <div class="alert alert-block alert-danger fade in" ng-show="error">
        <button type="button" class="close" data-dismiss="alert"></button>
        <h4 class="alert-heading">Unable to install Component</h4>
        <p>{{error}}</p>
      </div>

      <!-- Redirect browsers with JavaScript disabled to the origin page -->
      <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
          <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}" ng-disabled="queue.length == 1">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Choose file...</span>
                                <input type="file" name="component" ng-disabled="disabled">
                            </span>
          <button type="button" class="btn btn-primary start" data-ng-click="submit()" ng-disabled="queue.length == 0">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Install</span>
          </button>
          <!-- The global file processing state -->
          <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fade" data-ng-class="{in: active()}">
          <!-- The global progress bar -->
          <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
          <!-- The extended global progress state -->
          <div class="progress-extended">&nbsp;</div>
        </div>
      </div>

      <!-- The table listing the files available for upload/download -->
      <table class="table table-striped files ng-cloak">
        <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
          <td>
            <p class="name" data-ng-switch data-on="!!file.url">
              <span>{{file.name}}</span>
            </p>
            <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
          </td>
          <td>
            <p class="size">{{file.size | formatFileSize}}</p>
            <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
          </td>
          <td>
            <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
              <i class="glyphicon glyphicon-ban-circle"></i>
              <span>Cancel</span>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
