<div class="row">
    <div class="col-md-12">
        <h4>Monitoring Statistics for this component</h4>
        <p class="text-muted"><small>View statistics for this component.</small></p>
    </div>
</div>


<div ng-show="component.state === 'SHUTDOWN'">
    <div class="alert alert-info">
        <h5><i class="fa fa-ban"></i> Unable to view monitoring while <strong>{{component.name}}</strong> is in shutdown state !</h5>
    </div>
</div>

<div ng-show="component.state !== 'SHUTDOWN'">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-8 margin-bottom-10">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-crosshairs fa-icon-medium"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{statistics.ActiveEndpoints['value']}}
                    </div>
                    <div class="desc">
                        Active Endpoints
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-8 margin-bottom-10">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{statistics.ActiveExchanges['value']}}
                    </div>
                    <div class="desc">
                        Active Exchanges
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-8 margin-bottom-10">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-group fa-icon-medium"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{statistics.MaxActiveExchanges['value']}}
                    </div>
                    <div class="desc">
                        Max Active Exchanges
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue-steel">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-thumb-tack"></i>Overview
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-responsive table-hover" ng-show="component.state !== 'SHUTDOWN'">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="statistic in statistics">
                                <td>{{statistic.description}}</td>
                                <td>{{statistic.value}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
