<div class="row">
    <div class="col-md-12">
        <h4>Configuration</h4>
        <p class="text-muted"><small>Refer to the component's documentation for its runtime configuration properties.</small></p>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
        <section ng-show="error">
            <div class="alert alert-warning">
                <h5><i class="fa fa-ban"></i> {{error}}</h5>
            </div>
        </section>
        <section ng-show="message">
            <div class="alert alert-info">
                <h5>{{message}}</h5>
            </div>
        </section>

		<form-directive form="form" save-enabled="component.state == 'STARTED'"></form-directive>
	</div>
</div>