<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="#/components"><i class="fa fa-cogs"></i> Components</a></li>
            <li class="active">{{component.name}}</li>
        </ul>

        <h3 class="page-title">
            {{component.name}} &nbsp;<jbi-state state="component.state"></jbi-state>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="note note-danger" ng-show="error">
            <h4 class="block">Unable to retrieve information for component <strong>{{component.name}}</strong></h4>
            <p>{{error}}</p>
        </div>

        <div class="tabbable-custom" ng-show="!error">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass('general')"><a href="#/components/{{component.name}}/general">General</a></li>
                <li ng-class="getTabClass('configuration')"><a href="#/components/{{component.name}}/configuration">Configuration</a></li>
                <li ng-class="getTabClass('appconfigurations')"><a href="#/components/{{component.name}}/appconfigurations">Application Configurations</a></li>
                <li ng-class="getTabClass('variables')"><a href="#/components/{{component.name}}/variables">Application Variables</a></li>
                <li ng-class="getTabClass('descriptor')"><a href="#/components/{{component.name}}/descriptor">Descriptor</a></li>
                <li ng-class="getTabClass('loggers')"><a href="#/components/{{component.name}}/loggers">Loggers</a></li>
                <li ng-class="getTabClass('libraries')"><a href="#/components/{{component.name}}/libraries">Shared Libraries</a></li>
                <li ng-class="getTabClass('monitoring')"><a href="#/components/{{component.name}}/monitoring">Monitoring</a></li>
                <li ng-class="getTabClass('upgrade')"><a href="#/components/{{component.name}}/upgrade">Upgrade</a></li>
            </ul>

            <div class="body tab-content" data-ui-view />
        </div>
    </div>
</div>
