<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">Uninstall Component</h4>
</div>

<div class="modal-body">
  <div>Are you sure to uninstall Component : <strong>{{component}}</strong></div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">Uninstall</button>
</div>
