<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-crosshairs"></i> Endpoints</li>
        </ul>

        <h3 class="page-title">
            Endpoints <small>List of known endpoints in the Normalized Message Router (NMR).</small>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-crosshairs"></i>
                    Endpoints&nbsp; <span class="badge badge-info">{{endpoints.length}}</span>
                </h4>
                <div class="actions hidden-xs-portrait">
                    <input id="search" type="search" placeholder="Enter text" ng-model="query">
                </div>
            </header>
            <div class="body">
                     <table class="table table-condensed table-striped table-responsive table-hover">
                        <thead>
                          <tr>
                            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                            <th><a href="" ng-click="predicate = 'consume'; reverse=!reverse">In / Out</a></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="endpoint in endpoints | filter:query | orderBy:predicate:reverse">
                              <td>{{endpoint.name}}</td>
                              <td>{{endpoint.consume}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </section>
    </div>
</div>
