<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-book"></i> Shared Libraries</li>
        </ul>

        <h3 class="page-title">
            Shared Libraries <small>Manage Java Business Integration Shared Libraries.</small>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-seagreen">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-book"></i>
                    Shared Libraries &nbsp; <span class="badge badge-info">{{libraries.length}}</span>
                </div>
                <div class="actions">
                    <a href="#/library/install" class="btn btn-default btn-sm" role="button" tooltip="Install new shared library">
                        <i class="fa fa-plus"></i> Install
                    </a>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="hidden-xs-portrait">
                            <label>Search: <input type="search" placeholder="Enter text" ng-model="query" class="hidden-xs"></label>
                        </div>
                    </div>
                </div>

                <table class="ng-cloak table table-condensed table-striped table-responsive table-hover" ng-show="libraries.length > 0">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                            <th><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
                            <th><a href="" ng-click="predicate = 'version'; reverse=!reverse">Version</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="library in libraries | filter:query | orderBy:predicate:reverse">
                            <td><a href="#/libraries/{{library.name}}">{{library.name}}</a></td>
                            <td>{{library.description}}</td>
                            <td>{{library.version}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="delete(library)"  tooltip="Delete {{library.name}} shared library" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
