<div class="row">
    <div class="col-md-12">
        <h4>Components dependent on this Shared Library</h4>
        <p class="text-muted"><small>View components that require this Shared Library.</small></p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison" ng-show="components.length > 0">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    Components&nbsp; <span class="badge badge-info">{{components.length}}</span>
                </div>
            </div>

            <div class="portlet-body">
                <table class="table table-condensed table-striped table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="component in components">
                        <td><a href="#/components/{{component.name}}">{{component.name}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="alert alert-info" ng-show="components.length === 0">
            <h5><i class="fa fa-ban"></i> No component is requiring <strong>{{library.name}}</strong> shared library.</h5>
        </div>
    </div>
</div>