<!DOCTYPE html>
<html lang="en" data-ng-app="openesbApp" data-ng-controller="MainCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta charset="utf-8"/>
    <title>OpenESB Web Console</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="description" content="OpenESB Web Console">
    <meta name="author" content="David BRASSELY">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/google-code-prettify/bin/prettify.min.css" />
    <link rel="stylesheet" href="bower_components/famfamfam-flags-sprite/src/flags-sprite.min.css" />
    <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload.css" />
    <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link href="styles/pretiffy.css" rel="stylesheet" type="text/css"/>
    <link href="styles/components.css" rel="stylesheet" type="text/css"/>
    <link href="styles/layout.css" rel="stylesheet" type="text/css"/>
    <link href="styles/default.css" rel="stylesheet" type="text/css"/>
    <link href="styles/login.css" rel="stylesheet" type="text/css"/>
    <link href="styles/webassembly.css" rel="stylesheet"/>
    <!-- endbuild -->
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-fixed" ng-class="{'body-login': !authenticated}">

<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <div class="page-logo">
            <i class="logo-default"><img src="img/openesb-icon.png" width="48" height="48" />&nbsp;Open<span style="color: #d64635; font-size: 22px">ESB</span></i>
            <div class="menu-toggler sidebar-toggler" data-ng-if="authenticated"></div>
        </div>

        <div class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse" data-ng-if="authenticated"></div>

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right" data-ng-if="authenticated">
                <!--
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-warning"></i>
                        <span class="badge badge-danger">
                        7 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <p>
                                You have 14 new notifications
                            </p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-success">
                                        <i class="fa fa-plus"></i>
                                        </span>
                                        New user registered. <span class="time">
                                        Just now </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-danger">
                                        <i class="fa fa-bolt"></i>
                                        </span>
                                        Server #12 overloaded. <span class="time">
                                        15 mins </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-warning">
                                        <i class="fa fa-bell-o"></i>
                                        </span>
                                        Server #2 not responding. <span class="time">
                                        22 mins </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-info">
                                        <i class="fa fa-bullhorn"></i>
                                        </span>
                                        Application error. <span class="time">
                                        40 mins </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-danger">
                                        <i class="fa fa-bolt"></i>
                                        </span>
                                        Database overloaded 68%. <span class="time">
                                        2 hrs </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-danger">
                                        <i class="fa fa-bolt"></i>
                                        </span>
                                        2 user IP blocked. <span class="time">
                                        5 hrs </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-warning">
                                        <i class="fa fa-bell-o"></i>
                                        </span>
                                        Storage Server #4 not responding. <span class="time">
                                        45 mins </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-info">
                                        <i class="fa fa-bullhorn"></i>
                                        </span>
                                        System Error. <span class="time">
                                        55 mins </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-danger">
                                        <i class="fa fa-bolt"></i>
                                        </span>
                                        Database overloaded 68%. <span class="time">
                                        2 hrs </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="#/notifications">
                                See all notifications <i class="m-icon-swapright"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="glyphicon glyphicon-user"></span>
					    <span class="username">{{username}} </span><i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/logout">
                                <i class="fa fa-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="page-container">
    <toaster-container></toaster-container>

    <div class="page-sidebar navbar-collapse collapse" data-ng-if="authenticated">
        <ul class="page-sidebar-menu hidden-sm hidden-xs">
            <br />

            <li class="start" data-ng-class="{ active: isDashboard }">
                <a href="#/home">
                    <i class="fa fa-home"></i>
                    <span class="title">Dashboard </span>
                    <span class="selected"></span>
                </a>
            </li>

            <li data-ng-class="{ active: isInstance }">
                <a href="#/instance">
                    <i class="fa fa-road"></i>
                    <span class="title">Instance </span>
                    <span class="selected"></span>
                </a>
            </li>

            <li data-ng-class="{ active: isAssemblies }">
                <a href="#/assemblies">
                    <i class="fa fa-list"></i>
                    <span class="title">Service Assemblies </span>
                    <span class="selected"></span>
                </a>
            </li>

            <li data-ng-class="{ active: isComponents }">
                <a href="#/components">
                    <i class="fa fa-cogs"></i>
                    <span class="title">Components </span>
                    <span class="selected"></span>
                </a>
            </li>

            <li data-ng-class="{ active: isLibraries }">
                <a href="#/libraries">
                    <i class="fa fa-book"></i>
                    <span class="title">Shared Libraries </span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="last" data-ng-class="{ active: isEndpoints }">
                <a href="#/endpoints">
                    <i class="fa fa-crosshairs"></i>
                    <span class="title">Endpoints </span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>

        <ul class="page-sidebar-menu visible-sm visible-xs" data-slide-speed="200" data-auto-scroll="true">
            <li class="start" data-ng-class="{ active: isDashboard }">
                <a href="#/home">
                    <i class="fa fa-home"></i>
                    <span class="title">Dashboard </span>
                    <span class="selected"></span>
                </a>
            </li>
            <li data-ng-class="{ active: isInstance }">
                <a href="#/instance">
                    <i class="fa fa-road"></i>
                    <span class="title">Instance </span>
                </a>
            </li>

            <li data-ng-class="{ active: isAssemblies }">
                <a href="#/assemblies">
                    <i class="fa fa-list"></i>
                    <span class="title">Service Assemblies </span>
                </a>
            </li>

            <li data-ng-class="{ active: isComponents }">
                <a href="#/components">
                    <i class="fa fa-cogs"></i>
                    <span class="title">Components </span>
                </a>
            </li>

            <li data-ng-class="{ active: isLibraries }">
                <a href="#/libraries">
                    <i class="fa fa-book"></i>
                    <span class="title">Shared Libraries </span>
                </a>
            </li>

            <li class="last" data-ng-class="{ active: isEndpoints }">
                <a href="#/endpoints">
                    <i class="fa fa-crosshairs"></i>
                    <span class="title">Endpoints </span>
                </a>
            </li>
        </ul>
    </div>

    <div class="page-content-wrapper">
        <div class="page-content" ng-class="{'page-content-login': !authenticated}">
            <div data-ui-view></div>
        </div>
    </div>
</div>

<div class="page-footer">
    <div class="page-footer-inner">2015 &copy; <a href="http://www.open-esb.net" target="_blank">OpenESB Community</a></div>
    <div class="page-footer-tools">
		<span class="go-top"><i class="fa fa-angle-up"></i></span>
    </div>
</div>

<!-- Load javascripts at bottom, this will reduce page load time -->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/google-code-prettify/bin/prettify.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/blueimp-file-upload/js/cors/jquery.postmessage-transport.js"></script>
<script src="bower_components/blueimp-file-upload/js/cors/jquery.xdr-transport.js"></script>
<script src="bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-angular.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/respond/dest/respond.src.js"></script>
<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
<script src="bower_components/js-base64/base64.js"></script>
<script src="bower_components/jspath/lib/jspath.js"></script>
<script src="bower_components/AngularJS-Toaster/toaster.js"></script>
<!-- endbower -->
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/cripto-rj/components/core.js"></script>
<script type="text/javascript" src="bower_components/cripto-rj/components/md5.js"></script>
<script type="text/javascript" src="bower_components/jsplumb/dist/js/jquery.jsplumb-1.6.4-min.js"></script>
<script type="text/javascript" src="bower_components/jspath/jspath.min.js"></script>
<script src="scripts/plugins/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="scripts/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js" type="text/javascript"></script>
<script src="scripts/services/instance.js" type="text/javascript"></script>
<script src="scripts/services/assemblies.js" type="text/javascript"></script>
<script src="scripts/services/components.js" type="text/javascript"></script>
<script src="scripts/services/libraries.js" type="text/javascript"></script>
<script src="scripts/services/endpoints.js" type="text/javascript"></script>
<script src="scripts/services/serviceunits.js" type="text/javascript"></script>
<script src="scripts/services/utils.js" type="text/javascript"></script>
<script src="scripts/services/datastore.js" type="text/javascript"></script>
<script src="scripts/services/http-interceptor.js" type="text/javascript"></script>
<script src="scripts/services/http-auth-interceptor.js" type="text/javascript"></script>
<script src="scripts/services/authentication.js" type="text/javascript"></script>
<script src="scripts/services/session.js" type="text/javascript"></script>
<script src="scripts/directives/directives.js" type="text/javascript"></script>
<script src="scripts/directives/form-directive.js" type="text/javascript"></script>
<script src="scripts/directives/field-directive.js" type="text/javascript"></script>
<script src="scripts/directives/webassembly.js" type="text/javascript"></script>
<script src="scripts/controllers/assemblies.js" type="text/javascript"></script>
<script src="scripts/controllers/components.js" type="text/javascript"></script>
<script src="scripts/controllers/endpoints.js" type="text/javascript"></script>
<script src="scripts/controllers/libraries.js" type="text/javascript"></script>
<script src="scripts/controllers/serviceunits.js" type="text/javascript"></script>
<script src="scripts/controllers/instance.js" type="text/javascript"></script>
<script src="scripts/controllers/home.js" type="text/javascript"></script>
<script src="scripts/controllers/main.js" type="text/javascript"></script>
<script src="scripts/ui/layout.js" type="text/javascript"></script>
<script src="scripts/ui/metronic.js" type="text/javascript"></script>
<!-- endbuild -->

</body>
</html>
