<div class="row">
    <div class="col-md-12">
        <h4>System Monitoring</h4>
        <p class="text-muted"><small>View the details of the system.</small></p>
    </div>
</div>

<br />

<div class="row">
	<div class="col-md-4">
        <section class="widget normal">
            <header>
                <h4>
                    <i class="fa fa-caret-right"></i>
                    Memory
                </h4>
            </header>
            <div class="body">
                <p>Total Memory ({{memory['total.used'].value / 1000000 | number:0}}M / {{memory['total.max'].value / 1000000 | number:0}}M)</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{memory['total.used'].value / 1000000 | number:0}}"
                         aria-valuemin="0"
                         aria-valuemax="{{memory['total.max'].value / 1000000 | number:0}}"
                         style="width: {{memory['total.used'].value * 100 / memory['total.max'].value  | number:0}}%">
                        {{memory['total.used'].value * 100 / memory['total.max'].value  | number:0}}%
                    </div>
                </div>
                <p>Heap Memory ({{memory['heap.used'].value / 1000000 | number:0}}M / {{memory['heap.max'].value / 1000000 | number:0}}M)</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{memory['heap.used'].value / 1000000 | number:0}}"
                         aria-valuemin="0"
                         aria-valuemax="{{memory['heap.max'].value / 1000000 | number:0}}"
                         style="width: {{memory['heap.usage'].value * 100 | number:0}}%">
                        {{(memory['heap.usage'].value * 100 | number:0)}}%
                    </div>
                </div>
                <p>Non-Heap Memory ({{memory['non-heap.used'].value / 1000000 | number:0}}M / {{memory['non-heap.max'].value / 1000000 | number:0}}M)</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{memory['non-heap.used'].value / 1000000 | number:0}}"
                         aria-valuemin="0"
                         aria-valuemax="{{memory['non-heap.max'].value / 1000000 | number:0}}"
                         style="width: {{memory['non-heap.usage'].value * 100 | number:0}}%">
                        {{(memory['non-heap.usage'].value * 100 | number:0)}}%
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-4">
        <section class="widget large">
            <header>
                <h4>
                    <i class="fa fa-caret-right"></i>
                    Threads (Total: {{thread['count'].value}})
                </h4>
            </header>
            <div class="body">
                <p>Runnable ({{thread['runnable.count'].value}})</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{thread['runnable.count'].value}}"
                         aria-valuemin="0"
                         aria-valuemax="{{thread['count'].value}}"
                         style="width: {{thread['runnable.count'].value * 100 / thread['count'].value | number:0}}%">
                        {{thread['runnable.count'].value * 100 / thread['count'].value | number:0}}%
                    </div>
                </div>
                <p>Timed waiting ({{thread['timed_waiting.count'].value}})</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar"
                         aria-valuenow="{{thread['timed_waiting.count'].value}}"
                         aria-valuemin="0"
                         aria-valuemax="{{thread['count'].value}}"
                         style="width: {{thread['timed_waiting.count'].value * 100 / thread['count'].value | number:0}}%">
                        {{thread['timed_waiting.count'].value * 100 / thread['count'].value | number:0}}%
                    </div>
                </div>
                <p>Waiting ({{thread['waiting.count'].value}})</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar"
                         aria-valuenow="{{thread['waiting.count'].value}}"
                         aria-valuemin="0"
                         aria-valuemax="{{thread['count'].value}}"
                         style="width: {{thread['waiting.count'].value * 100 / thread['count'].value | number:0}}%">
                        {{thread['waiting.count'].value * 100 / thread['count'].value | number:0}}%
                    </div>
                </div>
                <p>Blocked  ({{thread['blocked.count'].value}})</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar"
                         aria-valuenow="{{thread['blocked.count'].value}}"
                         aria-valuemin="0"
                         aria-valuemax="{{thread['count'].value}}"
                         style="width: {{thread['blocked.count'].value * 100 / thread['count'].value | number:0}}%">
                        {{thread['blocked.count'].value * 100 / thread['count'].value | number:0}}%
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-4">
        <section class="widget normal">
            <header>
                <h4>
                    <i class="fa fa-caret-right"></i>
                    Garbage collections
                </h4>
            </header>
            <div class="body">
                <div class="row">
                    <div class="col-md-9" translate="metrics.jvm.gc.marksweepcount">Mark Sweep count</div>
                    <div class="col-md-3">{{gc['PS-MarkSweep.count'].value}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9" translate="metrics.jvm.gc.marksweeptime">Mark Sweep time</div>
                    <div class="col-md-3">{{gc['PS-MarkSweep.time'].value}}ms</div>
                </div>
                <div class="row">
                    <div class="col-md-9" translate="metrics.jvm.gc.scavengecount">Scavenge count</div>
                    <div class="col-md-3">{{gc['PS-Scavenge.count'].value}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9" translate="metrics.jvm.gc.scavengetime">Scavenge time</div>
                    <div class="col-md-3">{{gc['PS-Scavenge.time'].value}}ms</div>
                </div>
            </div>
        </section>
    </div>
</div>