<div class="row">
    <div class="col-md-12">
        <h4>General Informations</h4>
        <p class="text-muted"><small>View the details of the OpenESB Framework.</small></p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-7">
        <address>
            <div class="row">
                <div class="col-md-4"><strong>Instance name:</strong></div>
                <div class="col-md-5">{{instance.instanceName}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>Version:</strong></div>
                <div class="col-md-5">{{instance.majorVersion}}.{{instance.minorVersion}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>Build Number:</strong></div>
                <div class="col-md-5">{{instance.buildNumber}}</div>
            </div>
        </address>
    </div>
</div>