<div class="row">
    <div class="col-md-12">
        <h4>Monitor</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-responsive table-hover">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="statistic in statistics">
                    <td>{{statistic.description}}</td>
                    <td>{{statistic.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>