<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-road"></i> Instance</li>
        </ul>

        <h3 class="page-title">Instance</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tabbable-custom" ng-show="!error">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass('general')"><a href="#/instance/general">General</a></li>
                <li ng-class="getTabClass('loggers')"><a href="#/instance/loggers">Loggers</a></li>
                <!--<li ng-class="getTabClass('nmr')"><a href="#/instance/nmr">NMR</a></li>-->
                <li ng-class="getTabClass('monitoring')"><a href="#/instance/monitoring">NMR Monitoring</a></li>
                <li ng-class="getTabClass('system')"><a href="#/instance/system">System Monitoring</a></li>
            </ul>

            <div class="body tab-content" data-ui-view />
        </div>
    </div>
</div>
