<div class="row">
    <div class="col-md-12">
        <h4>Service Unit General Information</h4>
        <p class="text-muted"><small>View information about this JBI Service Unit.</small></p>
    </div>
</div>

<br />

<div class="row">
  <div class="col-md-12">
    <blockquote>
      <p>Information</p>
    </blockquote>

    <address>
      <div class="row">
        <div class="col-md-3"><strong>Name:</strong></div>
        <div class="col-md-5">{{serviceunit.name}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Description:</strong></div>
        <div class="col-md-5">{{serviceunit.description}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>State:</strong></div>
        <div class="col-md-5"><jbi-state state="serviceunit.state"/></div>
      </div>
    </address>
  </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p>Links</p>
        </blockquote>

        <address>
          <div class="row">
            <div class="col-md-3"><strong>Containing Service Assembly:</strong></div>
            <div class="col-md-9"><a href="#/assemblies/{{serviceunit.serviceAssembly}}">{{serviceunit.serviceAssembly}}</a></div>
          </div>
          <div class="row">
            <div class="col-md-3"><strong>Target Component:</strong></div>
            <div class="col-md-9"><a href="#/components/{{serviceunit.target}}">{{serviceunit.target}}</a></div>
          </div>
      </address>
    </div>
</div>