<div class="row">
    <div class="col-md-12">
        <h4>Service Assembly Viewer</h4>
        <p class="text-muted"><small>Map representation for this Service Assembly.</small></p>
    </div>
</div>

<div class="row" style="min-height:500px;overflow: scroll;">
    <div class="col-md-12">
        <web-assembly map="map"></web-assembly>
    </div>
</div>