<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-list"></i> Service Assemblies</li>
        </ul>

        <h3 class="page-title">
            Service Assemblies <small>Manage Java Business Integration Service Assemblies.</small>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>
                    Service Assemblies &nbsp; <span class="badge badge-info">{{assemblies.length}}</span>
                </div>
                <div class="actions">
                    <a href="#/assembly/install" class="btn btn-sm btn-default" role="button" tooltip="Deploy Service Assembly">
                        <i class="fa fa-plus"></i> Deploy
                    </a>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="hidden-xs-portrait">
                            <label>Search: <input type="search" placeholder="Enter text" ng-model="query" class="hidden-xs"></label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="hidden-xs-portrait">
                          <label>Actions:
                            <button class="btn btn-primary btn-sm" ng-click="startSelected()">Start</button>
                            <button class="btn btn-primary btn-sm" ng-click="stopSelected()">Stop</button>
                            <button class="btn btn-primary btn-sm" ng-click="shutdownSelected()">Shutdown</button>
                          </label>
                      </div>
                    </div>
                </div>

                <table class="ng-cloak table table-condensed table-striped table-responsive table-hover" ng-show="assemblies.length > 0">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="checkboxes.checked" /></th>
                            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                            <th><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></th>
                            <th class="hidden-xs"><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="assembly in assemblies | filter:query | orderBy:predicate:reverse">
                            <td><input type="checkbox" ng-model="checkboxes.items[assembly.name]" /></td>
                            <td><a href="#/assemblies/{{assembly.name}}">{{assembly.name}}</a></td>
                            <td><jbi-state state="assembly.state"></jbi-state></td>
                            <td class="hidden-xs">{{assembly.description}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="delete(assembly)" ng-disabled="assembly.state != 'SHUTDOWN'" tooltip="Delete {{assembly.name}} assembly"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
