<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">Undeploy Service Assembly</h4>
</div>

<div class="modal-body">
  <div>Are you sure to undeploy Service Assembly : <strong>{{assembly}}</strong></div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">Undeploy</button>
</div>
